.pms-body {
	background-color: #F5F5F5;
}
.pms-mui-content {
	background-color: #F5F5F5;
}
.pms-mui-bar-nav {
	background-color: #0067D8;
	box-shadow: 0px 1px 0px #0067D8;
	-webkit-box-shadow: 0px 1px 0px #0067D8;
}
.pms-mui-bar-nav .mui-pull-left {
	color: #FFFFFF;
	padding-right: 25px !important;
	border-top: 1px solid #0067D8;
}
.pms-mui-bar-nav .mui-title {
	right: 60px;
	left: 60px;
	color: #FFFFFF;
	font-weight: 500;
	border-top: 1px solid #0067D8;
}
.pms-mui-bar-nav .mui-pull-right {
	color: #FFFFFF;
	padding-left: 20px !important;
	border-top: 1px solid #0067D8;
}
.pms-loader-msg {
	font-size: 14px;
	text-align: center;
	padding-top: 18%;
	color: #999999;
}